@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: Metamorphous, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
