@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Metamorphous, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/background2.webp');
  background-blend-mode: lighten;
  background-size: cover;
}

.container {
  height: 96%;
  width: 96%;
  border: 10px solid #4a3b2a;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 20px 0 0 25px;
}

/*! LEFT */

.leftContainer {
  /* background-color: red; */
  padding: 2em 0;
  height: 96vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomInfo {
  margin-bottom: 30px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.names {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.logoutBtn {
  font-family: Metamorphous;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 0.8em;
  cursor: pointer;
  transition: 0.2s;
}

.logoutBtn:hover {
  background-color: #8a2c1e;
  color: #e5d3a1;
}

/*! MIDDLE */

.middleContainer {
  width: 50%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  border: 4px solid #4a3b2a;
}

.tweetHeader {
  height: 25vh;
  /* background-color: yellow; */
  padding: 1em 2em 1em 2em;
  width: 100%;
  border-bottom: 4px solid #4a3b2a;
}

.tweetHeader h2 {
  margin: 10px 0;
}

.tweetInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  font-family: Metamorphous;
  font-size: 1.2em;
  width: 100%;
  height: 10.1vh;
  margin: 6px 0 10px 0;
  padding: 6px;
  border: 2px solid #4a3b2a;
  border-radius: 12px;
}

.underInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.tweetBtn {
  font-family: Metamorphous;
  font-size: 1em;
  padding: 0.4em;
  margin-left: 0.5em;
  border-radius: 0.8em;
  cursor: pointer;
  transition: 0.2s;
}

.tweetBtn:hover {
  background-color: #8a2c1e;
  color: #e5d3a1;
}

.tweetContainer {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

/*! TRENDS */

.rightContainer {
  /* background-color: green; */
  width: 25%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
}

.trendsContainer {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 4px solid #4a3b2a;
  border-radius: 14px;
  overflow: hidden;
}

.rightContainer h2 {
  margin: 14px 0;
}

.trendingTweet {
  background-image: url('/backtweet.webp');
  filter: brightness(1.2) saturate(0.5);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #4a3b2a;
  padding: 0.5em 0.8em;
}

.trendingTweet em {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.trendingTweet em:hover {
  text-decoration: underline;
}
