@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: Metamorphous, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.logo {
  margin: 20px 0 0 25px;
}

.leftContainer {
  background-color: red;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomInfo {
  margin-bottom: 30px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.names {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.logoutBtn {
  font-family: Metamorphous;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 0.8em;
  cursor: pointer;
  transition: 0.2s;
}

.middleContainer {
  background-color: blue;
  width: 50vw;
  display: flex;
}

.tweetHeader {
  height: 25vh;
  background-color: yellow;
}

.title {
  margin-left: 50px;
}

.tweetInput { 
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 40vw;
  height: 5vh;
  margin: 20px 0 10px 0;
}

.underInput{
  width: 40vw;
  display: flex;
  align-items: center;
}

.tweetBtn {
  font-family: Metamorphous;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 0.8em;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 10px;
}

.rightContainer {
  background-color: green;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.trendsContainer {
  background-color: pink;
  width: 25vw;
  height: 50vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.trendingTweet {
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
}


