@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.main {
  display: flex;
  justify-content: flex-start;
  background-color: #e5cfa1;
  height: 100vh;
  font-family: Metamorphous, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 35%;
  /* border: 1px solid blue; */
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35em;
  width: 100%;
}

.title {
  line-height: 1.15;
  /* border: 1px solid green; */
  margin-top: -16px;
  font-size: 3.6rem;
}

.imgBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  margin-right: 2em;
}
