@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

.main {
  display: flex;
  justify-content: flex-start;
  background-color: #e5cfa1;
  height: 100vh;
  font-family: Metamorphous, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  /* border: 1px solid blue; */
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20em;
  /* border: 1px solid green; */
}

.title {
  line-height: 1.15;
  font-size: 3rem;
}

.title a {
  color: crimson;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
  font-weight: bold;
}

.imgBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
  border: 1px solid red;
  margin-right: 2em;
}
